@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --green:rgb(50, 222, 212);
  --blue:rgb(0, 43, 220);
  --orange:rgb(246,76,114);
  
}
body{
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #F7F7FF;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
/*    Animation*/

 @keyframes color{
   20%{
   color:#bbe26c;
   }
   40%{
     color:#e8ad18;
}
   60%{
     color: #14ea4f;
   }
   80%{
     color: #16f2ef;
   }
   100%{
     color: #fff;
   }
 }
     @keyframes opacity{
      100%{
        opacity: .4;
      }
    }
/*        Navigation*/
header{
  background-color: rgba(0, 43, 220,1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1em;
}
.logo a{
  color: var(--green);
  text-transform: uppercase;
  font-weight: 700;
  animation: color 4s ease-in-out 100ms infinite alternate;
}
 .nav ul{
  display: flex;
  justify-content: space-around;
  width: 60vw;
}
.nav1{
  color: #fff;
  position:relative;
  z-index: 1;
  padding: .5em;
  transition: 400ms all ease-in-out;
}
.nav1:hover{
  color:black
}
.nav1:hover::after{
  color: black;
  opacity: 1;
  top: 50%;
}
.nav1::after{
  content: "";
  border-radius: 10px;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--green);
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: 400ms all ease-in-out
}
/* hamburger*/
.hamburger{
  outline: none;
 display: none;
 appearance: none;
 user-select: none;
 background: none;
}
 .ham{
   background-color: #fff;
   position: relative;
   display: block;
   margin-top: 3px;
   border-radius:10px 20px ;
 }
 .ham1{
   width: 19px;
   height: 2px;
   
 }
 .ham2{
   width: 13px;
   height: 2px;
   transform: translateX(6px);
 }
 .ham3{
   width: 19px;
   height: 2px;
 }
 /*  HERO   */
 .wave{
   background-color: var(--green);
   display: block;
 }
 .shape{
   position: absolute;
   width: 78%;
   height: 60%;
   top: -4%;
   left: -10%;
     margin: 0 auto;
     filter: blur(.4px);
    z-index: -1;
    opacity: 1;
    animation: opacity 2s ease-in-out 500ms infinite alternate;
    }
#hero{
   border: none!important;
   outline: none;
   margin: -1px;
   background-color: var(--blue);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
  
   height: 35vh;
   position: relative;
   z-index: 2;
   overflow: hidden;
    }
    .hero_head{
      
      margin-bottom: .4em;
      font-size: 2.7rem;
     
       background-image: url('https://i.gifer.com/origin/93/93a1861affb6c66f51aa2cc88ffa1068.gif');

    
     -webkit-background-clip: text;
     color: transparent;
       
    }

    .hero_para{
      color: #ffffff;
      
      margin-bottom: 1.5em;
    }
    .join{
      background: var(--green);
      color: black;
      font-weight:600;
      padding: .7em;
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.7);
      border-radius: 15px 10px;
    }
    .join:hover{
      background-color:var(--orange);
      color: white;
    }
/*    About*/
.about{
  background: var(--green);
 position: relative;
  padding: .6em;
}
.about_head{
  width: 100%;
  text-align: center;
  padding: .7em;
}
.about_para{
  font-weight: 500;
  padding: 1em;
}
/*Admission*/

.admission_form{
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  padding: 1.3em;
  border-radius:.7em;
}
input,select{
  background-color: white;
  padding: .7em;
  border-radius: 8px;
  outline: none;
  border: 2px solid var(--green);
}
.register{
  width: fit-content;
  font-size: 1rem;
  margin: 0 auto;
  padding: .6em 1em;
  border: none;
  outline: none;
  border-radius:.5em;
  background-color: var(--green);
  box-shadow: 2px 2px 12px rgba(0,0,0,0.7);
}
::placeholder{
  color: rgba(0,0,0,0.7);
}
/* Divider*/
.divider2{
  width: 100vw;
  height: 20vh;
  background:var(--orange);
   clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 86%);
   margin: -1px;
   outline: none;
   border: none;
   display:block;
}
.divider3{
  width: 100vw;
  height: 20vh;
  background:var(--orange);
   clip-path: polygon(100% 0, 0 0, 0 100%, 0 86%);
   margin: -1px;
   outline: none;
   border: none;
   display:block;
}
.custom-shape-divider-bottom-1664193795 {
   display: absolute;
  margin: -1px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background: var(--orange);
}

.custom-shape-divider-bottom-1664193795 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 81px;
}

.custom-shape-divider-bottom-1664193795 .shape-fill {
    fill: #ffffff;
}
/*   Academic*/
.academics{

  position: relative;
  background:var(--orange);
  color: white;
  padding:2em 1em;
  
}
.academics_head{
  text-align: center;
  padding: 1em .2em;
}
.academics_para,.research_para{
  padding: .5em;
}
/*  Research*/
.research{
  position: relative;
  overflow: hidden;
 
}
.research_contain{
  width: 80%;
  max-width: 1200px;
  position: relative;
 z-index: 7;
  margin: 0 auto;
  padding: 1em;

}
.research_head{
  text-align-last: center;
  color: var(--blue);
  padding: 1em .5em;
}
.research_para{
  margin-bottom: 1em;
}
 .more_research{
   display:block;
   width: fit-content;
   padding: .5em;
   background: var(--blue);
   color: white;
   margin:2em auto;
   border-radius: 3px;
 }
 .more_research:hover{
   background: var(--orange);
 }
 .img1,.img2{
   width: 100%;
   height:100% ;
   display: block;
   margin: 0 auto;
   padding: .6em;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    }
.research1{
     box-shadow: 3px 3px 6px 3px rgba(0,0,0,.3);
     background-color: #F7F7FF;
    gap: 1em;
     max-width:500px;
     max-height: 400px;
     margin: 0 auto;
     position: relative;
     z-index: 10;
     border-radius: 10px;
     transition: all 1.5s ease-in-out;
    }
    .research1:hover{
      background-color: var(--green);
      transform: perspective(30px) translateZ(2px);
      gap:2em;
    }
    .blob1{
      position: absolute;
      display: block;
      left:calc(50vw - 50px) ;
      top: 25%;
      overflow:hidden;
      z-index: 2;
      opacity: .2;
    width: 500px;
    height: 500px;
    
    }
    /*  Footer*/
    footer{
      padding: 1em;
      color: white;
      background-color:var(--blue);
      margin: -1px;
    }
    .footer{
      display: flex;
      justify-content: space-around;
    }
    address{
      font-size: .7rem;
    }
    footer ul li{
      border-bottom: 1px solid var(--orange);
      width: fit-content;
      padding:.1em;
      font-size: .7rem;
    }
    footer p{
      font-size: .6rem;
      text-align: center;
      padding-top: 1em;
    }
/*   media query*/
@media all and (max-width:480px){
  .nav{
    display: none;
  }
  .hamburger{
    display: block;
  }
  .divider2{
    height: 10vh;
  }
  .research_contain{
    width: 89%;
  }
}
@media all and (max-width:800px){
  .nav{
    display: none;
  }
  .hamburger{
    display: block;
  }
  .divider2{
    height: 15vh;
  }
  .bolb2{
    width: 500px;
    height: 500px;
  }
}
@media all and (min-width:1024px){
 .hero_para{
   font-size: 1.2rem;
 }
 .shape{
   top:0;
   left:0;
 }
 .admission_form{
   max-width:700px;
 }
 .custom-shape-divider-bottom-1664193795 svg {
   height: 80px;
 }
 .blob2{
   height:700px;
   width: 700px;
 }
}